*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-10: #000000;
  --neutral-20: #1c1c1c;
  --neutral-30: #383838;
  --neutral-40: #555555;
  --neutral-50: #717171;
  --neutral-60: #8d8d8d;
  --neutral-70: #aaaaaa;
  --neutral-80: #c6c6c6;
  --neutral-90: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-10: #ffffff;
    --neutral-20: #c6c6c6;
    --neutral-30: #aaaaaa;
    --neutral-40: #8d8d8d;
    --neutral-50: #717171;
    --neutral-60: #555555;
    --neutral-70: #383838;
    --neutral-80: #1c1c1c;
    --neutral-90: #000000;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--neutral-10);
  background-color: var(--neutral-90);
}

body {
  scrollbar-color: var(--neutral-60) transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-10);
}
